.container {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 0.5em;
}

form {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

label {
	font-weight: bold;
}

input[type="number"] {
	padding: 0.5em;
	margin-bottom: 1em;
}

button {
	background-color: #2a54dd;
	color: white;
	padding: 0.5em 1em;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 1em;
}

#result {
	font-size: 1.5em;
	margin-top: 1em;
}

 